# Build related
/build/
/bin/
/deps/out*
/.all_time
/worker/cpp/.release_time
/worker/cpp/bin/
/worker/cpp/build/
/worker/golang/build/
/worker/nodejs/build/
/worker/nodejs/node_modules/
/worker/python/.release_time
/worker/python/build/
/worker/python/faas/_faas_native.*.so

# Python related
/worker/python/faas/__pycache__/

# Examples related
/examples/*/outputs
/examples/c/*.so
/examples/go/main
/examples/node/node_modules

# Editor related
/.vscode/

# Protobuf generated code
/src/proto/*.pb.h
/src/proto/*.pb.cc
/src/proto/*.pb.cpp

# jemalloc
*.heap

# Misc
/src/bin/test_*.cpp
/tmp/
/config.mk
*~
